@font-face {
  font-family: Segoe;
  src: url(../fonts/Segoe.ttf);
}

/* line 77, ../sass/helper.sass */
.z-1 {
  z-index: 1;
}

/* line 77, ../sass/helper.sass */
.z-2 {
  z-index: 2;
}

/* line 77, ../sass/helper.sass */
.z-3 {
  z-index: 3;
}

/* line 77, ../sass/helper.sass */
.z-4 {
  z-index: 4;
}

/* line 77, ../sass/helper.sass */
.z-5 {
  z-index: 5;
}

/* line 77, ../sass/helper.sass */
.z-6 {
  z-index: 6;
}

/* line 77, ../sass/helper.sass */
.z-7 {
  z-index: 7;
}

/* line 77, ../sass/helper.sass */
.z-8 {
  z-index: 8;
}

/* line 77, ../sass/helper.sass */
.z-9 {
  z-index: 9;
}

/* line 77, ../sass/helper.sass */
.z-10 {
  z-index: 10;
}

/* line 77, ../sass/helper.sass */
.z-11 {
  z-index: 11;
}

/* line 77, ../sass/helper.sass */
.z-12 {
  z-index: 12;
}

/* line 77, ../sass/helper.sass */
.z-13 {
  z-index: 13;
}

/* line 77, ../sass/helper.sass */
.z-14 {
  z-index: 14;
}

/* line 77, ../sass/helper.sass */
.z-15 {
  z-index: 15;
}

/* line 77, ../sass/helper.sass */
.z-16 {
  z-index: 16;
}

/* line 77, ../sass/helper.sass */
.z-17 {
  z-index: 17;
}

/* line 77, ../sass/helper.sass */
.z-18 {
  z-index: 18;
}

/* line 77, ../sass/helper.sass */
.z-19 {
  z-index: 19;
}

/* line 77, ../sass/helper.sass */
.z-20 {
  z-index: 20;
}

/* line 80, ../sass/helper.sass */
.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

/* line 88, ../sass/helper.sass */
.next-button, .start-button, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 30%;
  text-align: center;
  padding-top: 8.5%;
}

/* line 102, ../sass/helper.sass */
.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black;
}

/* line 106, ../sass/helper.sass */
.absolute-max, #frame-000 .bg-1, #frame-000 .bg-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 113, ../sass/helper.sass */
.absolute, #frame-000 .menu-roll, #frame-000 .menu-roll-final, #frame-000 .chest-open, #frame-000 .chest-closed, #frame-000 .button {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 118, ../sass/helper.sass */
.transition-2s {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 125, ../sass/helper.sass */
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 132, ../sass/helper.sass */
.blink-shadow {
  box-shadow: 0px 0px 10px 10px white;
  -moz-box-shadow: 0px 0px 10px 10px white;
  -o-box-shadow: 0px 0px 10px 10px white;
  -webkit-box-shadow: 0px 0px 10px 10px white;
  -ms-box-shadow: 0px 0px 10px 10px white;
}

/*FRAME 000 */
/* FRAME 000 */
/* line 139, ../sass/helper.sass */
#frame-000 .bg-1 {
  background-image: url(../pics/s0-bg.jpg);
}

/* line 143, ../sass/helper.sass */
#frame-000 .bg-2 {
  background-image: url(../pics/s0-bg-2.jpg);
}

/* line 147, ../sass/helper.sass */
#frame-000 .menu-roll {
  left: 35%;
  top: 20%;
  width: 30%;
  height: 60%;
  background-image: url(../pics/s0-menu-roll.png);
}

/* line 152, ../sass/helper.sass */
#frame-000 .menu-roll-final {
  left: 35%;
  top: 20%;
  width: 30%;
  height: 60%;
  background-image: url(../pics/s0-menu-roll-final.png);
}

/* line 157, ../sass/helper.sass */
#frame-000 .chest-open {
  left: 45%;
  top: 40%;
  width: 10%;
  height: 20%;
  background-image: url(../pics/s0-chest-open.png);
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 163, ../sass/helper.sass */
#frame-000 .chest-open-big {
  left: 25%;
  top: 0%;
  width: 50%;
  height: 100%;
}

/* line 166, ../sass/helper.sass */
#frame-000 .chest-closed {
  left: 25%;
  top: 0%;
  width: 50%;
  height: 100%;
  background-image: url(../pics/s0-chest-closed.png);
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 172, ../sass/helper.sass */
#frame-000 .chest-closed-small {
  left: 45%;
  top: 40%;
  width: 10%;
  height: 20%;
  opacity: 0;
}

/* line 176, ../sass/helper.sass */
#frame-000 .button {
  left: 53.15%;
  top: 39.1%;
  width: 20.1%;
  height: 22.1%;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 70%;
  text-align: center;
  padding: 2%;
  padding-top: 3%;
  font-family: Verdana;
  background-color: #45484d;
  background-image: -webkit-linear-gradient(top, #45484d, black);
  background-image: -moz-linear-gradient(top, #45484d, black);
  background-image: -ms-linear-gradient(top, #45484d, black);
  background-image: -o-linear-gradient(top, #45484d, black);
  background-image: linear-gradient(to bottom, #45484d, #000000);
  z-index: 4;
}

/* line 190, ../sass/helper.sass */
#frame-000 .button:hover {
  border: 1px solid #a0a0a0;
  background-color: #bababa;
  background-image: -webkit-linear-gradient(top, #bababa, #575757);
  background-image: -moz-linear-gradient(top, #bababa, #575757);
  background-image: -ms-linear-gradient(top, #bababa, #575757);
  background-image: -o-linear-gradient(top, #bababa, #575757);
  background-image: linear-gradient(to bottom, #bababa, #575757);
}
