/* line 1, ../sass/navigation.sass */
.absolute-max, body, #main, .nav-grey-skin {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
}

/* line 19, ../sass/navigation.sass */
.absolute, .nav {
  position: absolute;
  background-size: auto 100%;
}

/* line 24, ../sass/navigation.sass */
.z-1 {
  z-index: 1;
}

/* line 24, ../sass/navigation.sass */
.z-2 {
  z-index: 2;
}

/* line 24, ../sass/navigation.sass */
.z-3 {
  z-index: 3;
}

/* line 24, ../sass/navigation.sass */
.z-4 {
  z-index: 4;
}

/* line 24, ../sass/navigation.sass */
.z-5 {
  z-index: 5;
}

/* line 24, ../sass/navigation.sass */
.z-6 {
  z-index: 6;
}

/* line 24, ../sass/navigation.sass */
.z-7 {
  z-index: 7;
}

/* line 24, ../sass/navigation.sass */
.z-8 {
  z-index: 8;
}

/* line 24, ../sass/navigation.sass */
.z-9 {
  z-index: 9;
}

/* line 24, ../sass/navigation.sass */
.z-10 {
  z-index: 10;
}

/* line 24, ../sass/navigation.sass */
.z-11, .nav, .nav-grey-skin {
  z-index: 11;
}

/* line 24, ../sass/navigation.sass */
.z-12, .nav-home {
  z-index: 12;
}

/* line 24, ../sass/navigation.sass */
.z-13 {
  z-index: 13;
}

/* line 24, ../sass/navigation.sass */
.z-14 {
  z-index: 14;
}

/* line 24, ../sass/navigation.sass */
.z-15 {
  z-index: 15;
}

/* line 24, ../sass/navigation.sass */
.z-16 {
  z-index: 16;
}

/* line 24, ../sass/navigation.sass */
.z-17 {
  z-index: 17;
}

/* line 24, ../sass/navigation.sass */
.z-18 {
  z-index: 18;
}

/* line 24, ../sass/navigation.sass */
.z-19 {
  z-index: 19;
}

/* line 24, ../sass/navigation.sass */
.z-20 {
  z-index: 20;
}

/* line 27, ../sass/navigation.sass */
.transition-0-5s {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

/* line 35, ../sass/navigation.sass */
.transition-1s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-2s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-3s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-4s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-5s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-6s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-7s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-8s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-9s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-10s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 42, ../sass/navigation.sass */
.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 51, ../sass/navigation.sass */
body {
  margin: 0%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* line 62, ../sass/navigation.sass */
.nav-grey-skin {
  background-color: black;
  opacity: 0.5;
}

.nav{
	border: 2px solid #b7b7b7; 
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-size:12px;
	font-size: 60%;
	padding: 1%;
	text-align: center;
	padding-top: 2%;
	text-decoration:none; 
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold; 
	color: #FFFFFF;
	cursor: pointer;
	color: #FFFFFF;
	background-color: #45484d; background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
	background-image: -webkit-linear-gradient(top, #45484d, #000000);
	background-image: -moz-linear-gradient(top, #45484d, #000000);
	background-image: -ms-linear-gradient(top, #45484d, #000000);
	background-image: -o-linear-gradient(top, #45484d, #000000);
	background-image: linear-gradient(to bottom, #45484d, #000000);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#45484d, endColorstr=#000000);
}

.nav:hover{
	border:1px solid #a0a0a0;
	background-color: #bababa; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#575757));
	background-image: -webkit-linear-gradient(top, #bababa, #575757);
	background-image: -moz-linear-gradient(top, #bababa, #575757);
	background-image: -ms-linear-gradient(top, #bababa, #575757);
	background-image: -o-linear-gradient(top, #bababa, #575757);
	background-image: linear-gradient(to bottom, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}

/* line 117, ../sass/navigation.sass */
.nav-home {
  left: 10.65%;
  top: 79.2%;
  width: 7.5%;
  height: 15%;
}

 /* line 120, ../sass/navigation.sass */
.nav-fb {
  left: 21%;
  top: 79.2%;
  width: 7.5%;
  height: 15%;
}

/* line 123, ../sass/navigation.sass */
.nav-repeat {
  left: 31.35%;
  top: 79.2%;
  width: 7.5%;
  height: 15%;
}

/* line 126, ../sass/navigation.sass */
.nav-play {
  left: 41.7%;
  top: 79.2%;
  width: 7.5%;
  height: 15%;
}

/* line 129, ../sass/navigation.sass */
.nav-ff {
  left: 52.05%;
  top: 79.2%;
  width: 7.5%;
  height: 15%;
}

/* line 132, ../sass/navigation.sass */
.nav-sound {
  left: 62.6%;
  top: 79.2%;
  width: 7.5%;
  height: 15%;
}

/* line 135, ../sass/navigation.sass */
.nav-list {
  left: 73.15%;
  top: 79.2%;
  width: 7.5%;
  height: 15%;
}

/* line 138, ../sass/navigation.sass */
.nav-help {
  left: 83.7%;
  top: 79.2%;
  width: 7.5%;
  height: 15%;
}

/* line 141, ../sass/navigation.sass */
.nav-launcher, .nav-close {
  left: 93.85%;
  top: 1.7%;
  width: 5%;
  height: 10%;
  padding: 1%;
  padding-top: 1%;
}

/* line 111, ../sass/navigation.sass */
.nav-center {
  left: 41.7%;
  top: 79.2%;
  width: 7.5%;
  height: 15%;
}


