$page-width: 2000px
$page-height: 1000px
$text-color: #e8f406

@font-face
	font-family: Segoe
	src: url(../fonts/Segoe.ttf)

@mixin transition($val)
	-ms-transition: all $val
	-webkit-transition: all $val
	-moz-transition: all $val
	-o-transition: all $val
	transition: all $val

@mixin transform($val)
	-ms-transform: rotate($val)
	-webkit-transform: rotate($val)
	-moz-transform: rotate($val)
	-o-transform: rotate($val)
	transform: rotate($val)

@mixin box-shadow($width, $height, $color)
	box-shadow: 0px 0px $width $height $color
	-moz-box-shadow: 0px 0px $width $height $color
	-o-box-shadow: 0px 0px $width $height $color
	-webkit-box-shadow: 0px 0px $width $height $color
	-ms-box-shadow: 0px 0px $width $height $color
	
@mixin text-shadow($radius, $color)
	text-shadow: 0 0 $radius $color, 0 0 $radius $color, 0 0 $radius $color, 0 0 $radius $color, 0 0 $radius $color

@mixin pos-and-size($left, $top, $width, $height)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%
	width: $width / 2000px * 100%
	height: $height / 1000px * 100%
	@extend .absolute
	
@mixin pos($left, $top)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%
	
@mixin size($width, $height)
	width: $width / 2000px * 100%
	height: $height / 1000px * 100%

@mixin pos-and-size-2($left, $top, $width, $height)
	left: $left
	top: $top
	width: $width
	height: $height
	
@mixin pos-2($left, $top)
	left: $left
	top: $top
	
@mixin size-2($width, $height)
	width: $width
	height: $height
	
@mixin bg($file)
	background-image: url(../pics/#{$file})
	
@mixin gradient($color1, $color2)
	background-color: $color1
	background-image: -webkit-linear-gradient(top, $color1, $color2)
	background-image: -moz-linear-gradient(top, $color1, $color2)
	background-image: -ms-linear-gradient(top, $color1, $color2)
	background-image: -o-linear-gradient(top, $color1, $color2)
	background-image: linear-gradient(to bottom, $color1, $color2)
	
@function calc-percent($target, $container)
	@return $target/$container * 100%

@for $i from 1 through 20
	.z-#{$i}
		z-index: #{$i}
		
.black-skin
	width: 100%
	height: 100%
	position: absolute
	background-color: black
	opacity: 0.7
	z-index: 10

.next-button, .start-button, .keep-thinking, .result
	border-radius: 50%
	z-index: 11
	width: 20%
	height: 40%
	position: absolute
	left: 40%
	top: 30%
	background-color: white
	color: black
	font-size: 30%
	text-align: center
	padding-top: 8.5%

.next-button:hover, .start-button:hover, .result:hover
	color: white
	background-color: black

.absolute-max
	position: absolute
	width: 100%
	height: 100%
	background-size: auto 100%
	background-repeat: no-repeat

.absolute
	position: absolute
	background-size: auto 100%
	background-repeat: no-repeat

.transition-2s
	-ms-transition: all 2s
	-webkit-transition: all 2s
	-moz-transition: all 2s
	-o-transition: all 2s
	transition: all 2s

.border-box
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	-o-box-sizing: border-box
	-ms-box-sizing: border-box

.blink-shadow
	@include box-shadow(10px, 10px, white)
	
/*FRAME 000*/

/* FRAME 000 */

#frame-000 .bg-1
	@extend .absolute-max
	background-image: url(../pics/s0-bg.jpg)
	
#frame-000 .bg-2
	@extend .absolute-max
	background-image: url(../pics/s0-bg-2.jpg)

#frame-000 .menu-roll
	@include pos-and-size-2(35%, 20%, 30%, 60%)
	@extend .absolute
	background-image: url(../pics/s0-menu-roll.png)

#frame-000 .menu-roll-final
	@include pos-and-size-2(35%, 20%, 30%, 60%)
	@extend .absolute
	background-image: url(../pics/s0-menu-roll-final.png)
	
#frame-000 .chest-open
	@extend .absolute
	@include pos-and-size-2(45%, 40%, 10%, 20%)
	background-image: url(../pics/s0-chest-open.png)
	@include transition(2s)
	
#frame-000 .chest-open-big
	@include pos-and-size-2(25%, 0%, 50%, 100%)
	
#frame-000 .chest-closed
	@extend .absolute
	@include pos-and-size-2(25%, 0%, 50%, 100%)
	background-image: url(../pics/s0-chest-closed.png)
	@include transition(2s)
	
#frame-000 .chest-closed-small
	@include pos-and-size-2(45%, 40%, 10%, 20%)
	opacity: 0
	
#frame-000 .button
	@extend .absolute
	@include pos-and-size(1063px, 391px, 402px, 221px)
	border-radius: 10px
	color: #FFFFFF
	cursor: pointer
	font-size: 70%
	text-align: center
	padding: 2%
	padding-top: 3%
	font-family: Verdana
	@include gradient(#45484d, #000000)
	z-index: 4
	
#frame-000 .button:hover
	border: 1px solid #a0a0a0
	background-color: #bababa
	background-image: -webkit-linear-gradient(top, #bababa, #575757)
	background-image: -moz-linear-gradient(top, #bababa, #575757)
	background-image: -ms-linear-gradient(top, #bababa, #575757)
	background-image: -o-linear-gradient(top, #bababa, #575757)
	background-image: linear-gradient(to bottom, #bababa, #575757)